<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
    {{> link}}
  </head>

  <body>
    {{> pageTitle}}
    <p>{{screamIt welcomeText}}</p> <!-- screamIt and welcomeText param -->

    {{> footer}}
  </body>
</html>
