<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Page</title>
    {{> link}}
  </head>

  <body>
    {{> pageTitle}}

    <p>Project here</p>

    {{> footer}}
  </body>
</html>
